# Python Database Libraries

## Intro
- Database adalah kumpulan data yang terorganisir dengan baik yang dapat diakses, dimodifikasi, dan dikelola secara efisien.
- Database digunakan dalam berbagai aplikasi mulai dari aplikasi desktop hingga aplikasi web skala besar.
- Dalam pengembangan perangkat lunak, penting untuk dapat terhubung dan berinteraksi dengan database untuk menyimpan dan mengambil data.

## Python dan Database
- Python adalah bahasa pemrograman yang sangat populer dan kuat dalam pengembangan perangkat lunak.
- Python memiliki banyak library yang memudahkan pengembang untuk terhubung dengan berbagai jenis database.

## Library Python untuk Database

**a. SQLite 3**  
    Digunakan untuk bekerja dengan database SQLite, yang merupakan database ringan yang tersimpan dalam satu file.  
**b. MySQL Connector**  
    Digunakan untuk menghubungkan Python dengan database MySQL.  
**c. Psycopg2**  
    Digunakan untuk menghubungkan Python dengan database PostgreSQL.  
**d.  SQLAlchemy**  
    Digunakan untuk ORM (Object-Relational Mapping) dan abstraksi database lainnya.

**a. SQLite 3**

- **Menghubungkan ke Database**  
- **Membuat Kursor**
- **Menjalankan Query**   
- **Melakukan Commit**  
- **Menutup Koneksi**

1) Membuat tabel dan memasukkan data(Create)

In [30]:
# import library
import sqlite3

In [31]:
# Menghubungkan ke database
conn = sqlite3.connect('example.db')

In [32]:
# Membuat kursor
cursor = conn.cursor()

In [33]:
# Membuat tabel
cursor.execute('''CREATE TABLE IF NOT EXISTS stocks
              (date text, trans text, symbol text, qty real, price real)''')

In [34]:
# Menyisipkan data
cursor.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

In [35]:
# Melakukan commit
conn.commit()

# Menutup koneksi
conn.close()

2) Membaca data dari SQLite 3(Read)

In [36]:
import sqlite3

# Menghubungkan ke database
conn = sqlite3.connect('example.db')

# Membuat kursor
cursor = conn.cursor()

# Menjalankan query
cursor.execute("SELECT * FROM stocks")

# Mendapatkan hasil
result = cursor.fetchall()

# Menampilkan hasil
for row in result:
    print(row)

# Menutup koneksi
conn.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

3) Mengedit data(Update)

In [37]:
import sqlite3

# Menghubungkan ke database
conn = sqlite3.connect('example.db')

# Membuat kursor
cursor = conn.cursor()

# Menjalankan query update
cursor.execute("UPDATE stocks SET qty = ? WHERE symbol = ?", (200, 'RHAT'))

# Melakukan commit
conn.commit()

# Menampilkan pesan bahwa data telah diperbarui
print("Data telah diperbarui.")

# Menutup koneksi
conn.close()

Data telah diperbarui.

4) Menghapus Data(Delete)

In [38]:
import sqlite3

# Menghubungkan ke database
conn = sqlite3.connect('example.db')

# Membuat kursor
cursor = conn.cursor()

# Menjalankan query delete
cursor.execute("DELETE FROM stocks WHERE symbol = ?", ('RHAT',))

# Melakukan commit
conn.commit()

# Menampilkan pesan bahwa data telah dihapus
print("Data telah dihapus.")

# Menutup koneksi
conn.close()

Data telah dihapus.

**b. MySQL Connector**
**- Menghubungkan ke Database**  
**- Membuat Kursor**  
**- Membuat Tabel**  
**- Memasukkan Data**  
**- Melakukan Commit (Opsional)**: Jika perubahan yang Anda lakukan perlu disimpan secara permanen, lakukan commit.  
**- Menutup Koneksi**

In [39]:
# Install Modul
# python -m pip install mysql-connector-python

1) Membuat tabel dan memasukkan data(Create)

In [40]:
# Import Library
import mysql.connector

In [41]:
# Menghubungkan ke database
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="db_pi"
)

In [42]:
# Membuat kursor
cursor = conn.cursor()

In [43]:
# Membuat tabel
cursor.execute("CREATE TABLE IF NOT EXISTS data (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age INT)")

In [44]:
# Memasukkan data
sql = "INSERT INTO data (name, age) VALUES (%s, %s)"
val = ("John", 30)
cursor.execute(sql, val)

# Melakukan commit (opsional)
conn.commit()

# Menampilkan pesan bahwa data telah dimasukkan
print(cursor.rowcount, "record inserted.")

1 record inserted.

In [45]:
# Menutup koneksi
conn.close()

2) Menampilkan Data(Read)

In [48]:
import mysql.connector

# Menghubungkan ke database
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="db_pi"
)

# Membuat kursor
cursor = conn.cursor()

# Menjalankan query untuk membaca data dari tabel data
cursor.execute("SELECT * FROM data")

# Mendapatkan hasil
result = cursor.fetchall()

# Menampilkan hasil
for row in result:
  print(row)

# Menutup koneksi
conn.close()

(1, 'John', 30)

Membuat tabel dan memasukkan data secara manual melalui phpmyadmin, lalu menampilkan data.

In [46]:
import mysql.connector

# Menghubungkan ke database
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="db_pi"
)

# Membuat kursor
cursor = conn.cursor()

# Menjalankan query untuk membaca data dari tabel customers
cursor.execute("SELECT * FROM customers")

# Mendapatkan hasil
result = cursor.fetchall()

# Menampilkan hasil
for row in result:
  print(row)

# Menutup koneksi
conn.close()

(1, 'fenni@gm.c', 'Fenni', 'Sarumaha', '085370179857', 'ID')

3) Mengedit Data(Update)

In [53]:
import mysql.connector

# Menghubungkan ke database
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="db_pi"
)

# Membuat kursor
cursor = conn.cursor()

# Menjalankan query update untuk mengupdate data pada tabel data
sql = "UPDATE data SET age = %s WHERE name = %s"
val = (30, "John")
cursor.execute(sql, val)

# Melakukan commit (opsional)
conn.commit()

# Menampilkan pesan bahwa data telah diubah
print(cursor.rowcount, "record(s) affected.")

# Menjalankan query untuk membaca data dari tabel customers
cursor.execute("SELECT * FROM data")

# Mendapatkan hasil
result = cursor.fetchall()

# Menampilkan hasil
for row in result:
  print(row)
  
# Menutup koneksi
conn.close()

1 record(s) affected.
(1, 'John', 30)

4) Menghapus Data(Delete)

In [54]:
import mysql.connector

# Menghubungkan ke database
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="db_pi"
)

# Membuat kursor
cursor = conn.cursor()

# Menjalankan query delete
sql = "DELETE FROM data WHERE name = %s"
val = ("John",)
cursor.execute(sql, val)

# Melakukan commit (opsional)
conn.commit()

# Menampilkan pesan bahwa data telah dihapus
print(cursor.rowcount, "record(s) deleted.")

# Menutup koneksi
conn.close()

1 record(s) deleted.